<div class="collection collection1">
  <div class="container">
    <div class="row">
      {%- for product in section.settings.collection.products limit: section.settings.products_to_show -%}
      <div class="col-4">
        {% assign opacity = section.settings.opacity | divided_by: 100.00 %}
        <div class="collection1__collection-item">
          <div class="collection1__product-img">
            <div class="collection1__heart" style="z-index: 10;">
              <i class="fas fa-cart-plus"></i>
            </div>
              <a href="{{ product.url }}" style="display: flex; justify-content: center; background-color: {{ section.settings.background | color_modify: 'alpha', opacity }}">
                <img
                srcset="{%- if product.images[0].width >= 165 -%}{{ product.images[0] | img_url: '165x' }} 165w,{%- endif -%}
                    {%- if product.images[0].width >= 360 -%}{{ product.images[0] | img_url: '360x' }} 360w,{%- endif -%}
                    {%- if product.images[0].width >= 535 -%}{{ product.images[0] | img_url: '535x' }} 535w,{%- endif -%}
                    {%- if product.images[0].width >= 750 -%}{{ product.images[0] | img_url: '750x' }} 750w,{%- endif -%}
                    {%- if product.images[0].width >= 1070 -%}{{ product.images[0] | img_url: '1070x' }} 1070w,{%- endif -%}
                    {%- if product.images[0].width >= 1500 -%}{{ product.images[0] | img_url: '1500x' }} 1500w,{%- endif -%}
                    {{ product.images[0] | img_url: 'master' }} {{ product.images[0].width }}w"
                  src="{{ product.images[0] | img_url: '1500x' }}"
                  sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                  alt="{{ product.images[0].alt | escape }}"
                  loading="lazy"
                  style="object-fit: {{ section.settings.image_fit }}"
                  width="{{ product.images[0].width }}"
                  height="{{ product.images[0].height }}"
                >
              </a>
          </div>
          <div class="collection1__product-info">
            <div class="collection1__product-details">
              {% if section.settings.show_title == true %}
                <span class="collection1__product-title">
                  {{ product.title }}
                </span>
              {% endif %}
              {% if section.settings.show_price == true %}
                <span class="collection1__product-price">
                  ${{ product.price }}
                </span>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Collection Products 1",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 12,
      "step": 1,
      "default": 3,
      "label": "t:sections.featured-collection.settings.products_to_show.label"
    },
    {
			"type": "color",
			"id": "background",
			"label": "Background",
			"default": "#FFFFFF"
		},
		{
			"type": "range",
			"id": "opacity",
			"min": 0,
			"max": 100,
			"step": 1,
			"label": "Color Opacity",
			"default": 100
		},
    {
      "type": "select",
      "id": "image_fit",
      "label": "Produc Image Fit",
      "options": [
        {
        "value": "cover",
        "label": "Cover"
        },
        {
          "value": "contain",
          "label": "Contain"
        }
      ],
      "default": "contain"
    },
    {
      "type": "checkbox",
      "id": "show_title",
      "label": "Show Title",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_price",
      "label": "Show Price",
      "default": true
    }
  ],
  "blocks": [
    
  ],
  "presets": [
    {
      "name": "Collection Products 1"
    }
  ]
}
{% endschema %}
