<div class="collection-group">
  <div class="container">
    <div class="title-wrapper-with-link{% if section.settings.swipe_on_mobile == true %} title-wrapper--self-padded-tablet-down{% else %} title-wrapper--self-padded-mobile{% endif %}{% if section.settings.title == blank %} title-wrapper-with-link--no-heading{% endif %}">
      <h2 class="collection-list-title">{{ section.settings.title | escape }}</h2>
      {%- if section.settings.show_view_all -%}
        <a href="{{ routes.collections_url }}" class="link underlined-link large-up-hide">{{ 'sections.collection_list.view_all' | t }}</a>
      {%- endif -%}
    </div>
    <div class="row">
      {%- for block in section.blocks -%}
        <div class="col-4">
          {% assign opacity = section.settings.opacity | divided_by: 100.00 %}
          <a{% if block.settings.collection != blank and block.settings.collection.all_products_count > 0 %} href="{{ block.settings.collection.url }}"{% else %} role="link" aria-disabled="true"{% endif %}>
            <div class="collection-group__item" style="background-color: {{ section.settings.background | color_modify: 'alpha', opacity }}">
              <div class="collection-group__collection-image">
                <img
                  srcset="{%- if block.settings.collection.featured_image.width >= 165 -%}{{ block.settings.collection.featured_image | img_url: '165x' }} 165w,{%- endif -%}
                    {%- if block.settings.collection.featured_image.width >= 330 -%}{{ block.settings.collection.featured_image | img_url: '330x' }} 330w,{%- endif -%}
                    {%- if block.settings.collection.featured_image.width >= 535 -%}{{ block.settings.collection.featured_image | img_url: '535x' }} 535w,{%- endif -%}
                    {%- if block.settings.collection.featured_image.width >= 750 -%}{{ block.settings.collection.featured_image | img_url: '750x' }} 750w,{%- endif -%}
                    {%- if block.settings.collection.featured_image.width >= 1000 -%}{{ block.settings.collection.featured_image | img_url: '1000x' }} 1000w,{%- endif -%}
                    {%- if block.settings.collection.featured_image.width >= 1500 -%}{{ block.settings.collection.featured_image | img_url: '1500x' }} 1500w,{%- endif -%}
                    {%- if block.settings.collection.featured_image.width >= 3000 -%}{{ block.settings.collection.featured_image | img_url: '3000x' }} 3000w,{%- endif -%}
                    {{ block.settings.collection.featured_image | img_url: 'master' }} {{ block.settings.collection.featured_image.width }}w"
                  src="{{ block.settings.collection.featured_image | img_url: '1500x' }}"
                  sizes="
                  (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 3 }}px,
                  (min-width: 750px) {% if section.blocks.size > 1 %}calc((100vw - 10rem) / 2){% else %}calc(100vw - 10rem){% endif %},
                  calc(100vw - 3rem)"
                  alt="{{ block.settings.collection.title | escape }}"
                  height="{{ block.settings.collection.featured_image.height }}"
                  style="height: 60%;"
                  loading="lazy"
                  class="motion-reduce"
                >
              </div>
              <div class="button-container">
                <a href="{{ block.settings.collection.url }}" class="collection-group__button">{{ block.settings.collection.title }}</a>
              </div>
            </div>
          </a>
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Collection List",
  "tag": "section",
  "class": "spaced-section collection-list-section",
  "max_blocks": 15,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Collections",
      "label": "t:sections.collection-list.settings.title.label"
    },
    {
			"type": "color",
			"id": "background",
			"label": "Background",
			"default": "#FFFFFF"
		},
		{
			"type": "range",
			"id": "opacity",
			"min": 0,
			"max": 100,
			"step": 1,
			"label": "Color Opacity",
			"default": 100
		},
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": false,
      "label": "t:sections.collection-list.settings.show_view_all.label"
    }
  ],
  "blocks": [
    {
      "type": "featured_collection",
      "name": "t:sections.collection-list.blocks.featured_collection.name",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.collection-list.blocks.featured_collection.settings.collection.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collection List",
      "blocks": [
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        }
      ]
    }
  ]
}
{% endschema %}