<div class="collection collection1">
  <div class="container">
    <div class="row">
      {%- for block in section.blocks -%}
      <div class="col-4">
        <div class="collection1__collection-item">
          <div class="collection1__product-img">
              <a href="{{ block.settings.collection.url }}" style="display: flex; justify-content: center; width: 70%;">
                <img
                  srcset="{%- if block.settings.collection.image.width >= 165 -%}{{ block.settings.collection.image | img_url: '165x' }} 165w,{%- endif -%}
                    {%- if block.settings.collection.image.width >= 360 -%}{{ block.settings.collection.image | img_url: '360x' }} 360w,{%- endif -%}
                    {%- if block.settings.collection.image.width >= 535 -%}{{ block.settings.collection.image | img_url: '535x' }} 535w,{%- endif -%}
                    {%- if block.settings.collection.image.width >= 750 -%}{{ block.settings.collection.image | img_url: '750x' }} 750w,{%- endif -%}
                    {%- if block.settings.collection.image.width >= 1070 -%}{{ block.settings.collection.image | img_url: '1070x' }} 1070w,{%- endif -%}
                    {%- if block.settings.collection.image.width >= 1500 -%}{{ block.settings.collection.image | img_url: '1500x' }} 1500w,{%- endif -%}
                    {{ block.settings.collection.image | img_url: 'master' }} {{ block.settings.collection.image.width }}w"
                  src="{{ block.settings.collection.image | img_url: '1500x' }}"
                  sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                  alt="{{ block.settings.collection.image.alt | escape }}"
                  loading="lazy"
                  style="object-fit: {{ section.settings.image_fit }}"
                  width="{{ block.settings.collection.image.width }}"
                  height="{{ block.settings.collection.image.height }}"
                >
              </a>
          </div>
          <div class="collection1__product-info">
            <div class="collection1__product-details">
              {% if section.settings.show_title == true %}
                <span class="collection1__product-title">
                  {{ block.settings.collection.title }}
                </span>
              {% endif %}
            </div>
            <div class="collection1__colors">
              <div class="collection1__color collection1__color--blue"></div>
              <div class="collection1__color collection1__color--black"></div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Collections Group",
    "settings": [
      {
        "type": "select",
        "id": "image_fit",
        "label": "Produc Image Fit",
        "options": [
          {
          "value": "cover",
          "label": "Cover"
          },
          {
            "value": "contain",
            "label": "Contain"
          }
        ],
        "default": "contain"
      },
      {
        "type": "checkbox",
        "id": "show_title",
        "label": "Show Title",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "featured_collection",
        "name": "t:sections.collection-list.blocks.featured_collection.name",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "t:sections.collection-list.blocks.featured_collection.settings.collection.label"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "collections Group",
        "blocks": [
          {
            "type": "featured_collection"
          },
          {
            "type": "featured_collection"
          },
          {
            "type": "featured_collection"
          }
        ]
        
      }
    ]
  }
{% endschema %}
