<div class="hero hero2 height-{{ section.settings.hero_height }}">
  <div class="hero2__collection1">
    {%- if section.settings.image_left != blank -%}
      <img
        class="hero2__bg"
        srcset="{%- if section.settings.image_left.width >= 165 -%}{{ section.settings.image_left | img_url: '165x' }} 165w,{%- endif -%}
          {%- if section.settings.image_left.width >= 360 -%}{{ section.settings.image_left | img_url: '360x' }} 360w,{%- endif -%}
          {%- if section.settings.image_left.width >= 535 -%}{{ section.settings.image_left | img_url: '535x' }} 535w,{%- endif -%}
          {%- if section.settings.image_left.width >= 750 -%}{{ section.settings.image_left | img_url: '750x' }} 750w,{%- endif -%}
          {%- if section.settings.image_left.width >= 1070 -%}{{ section.settings.image_left | img_url: '1070x' }} 1070w,{%- endif -%}
          {%- if section.settings.image_left.width >= 1500 -%}{{ section.settings.image_left | img_url: '1500x' }} 1500w,{%- endif -%}
          {{ section.settings.image_left | img_url: 'master' }} {{ section.settings.image_left.width }}w"
        src="{{ section.settings.image_left | img_url: '1500x' }}"
        sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
        alt="{{ section.settings.image_left.alt | escape }}"
        loading="lazy"
        width="{{ section.settings.image_left.width }}"
        height="{{ section.settings.image_left.height }}"
      >
    {%- else -%}
      {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
    {%- endif -%}
    {% assign opacity = section.settings.background_opacity | divided_by: 100.00 %}
    <div class="hero2__content-container" style="background-color:{{ section.settings.background | color_modify: 'alpha', opacity }};">
      <div class="hero2__info align-{{ section.settings.left_container_align }} justify-{{ section.settings.left_container_justify }}">
        {% if section.settings.title_left != blank %}
          <div class="hero2__title">
            {{ section.settings.title_left }}
          </div>
        {% endif %}
          {% if section.settings.paragraph_left != blank %}
            <div class="hero2__paragraph">
              {{ section.settings.paragraph_left }}
            </div>
        {% endif %}
        {%- if section.settings.button_label_left != blank -%}
          <a 
            {% if section.settings.button_link_left == blank %} role="link" aria-disabled="true"
            {% else %} href="{{ section.settings.button_link_left }}"{% endif %} 
            class="hero2__button"
          >
            {{ section.settings.button_label_left | escape }}
          </a>
        {%- endif -%} 
      </div>
    </div>
  </div>
  <div class="hero2__collection2">
    {%- if section.settings.image_right != blank -%}
      <img
        class="hero2__bg"
        srcset="{%- if section.settings.image_right.width >= 165 -%}{{ section.settings.image_right | img_url: '165x' }} 165w,{%- endif -%}
          {%- if section.settings.image_right.width >= 360 -%}{{ section.settings.image_right | img_url: '360x' }} 360w,{%- endif -%}
          {%- if section.settings.image_right.width >= 535 -%}{{ section.settings.image_right | img_url: '535x' }} 535w,{%- endif -%}
          {%- if section.settings.image_right.width >= 750 -%}{{ section.settings.image_right | img_url: '750x' }} 750w,{%- endif -%}
          {%- if section.settings.image_right.width >= 1070 -%}{{ section.settings.image_right | img_url: '1070x' }} 1070w,{%- endif -%}
          {%- if section.settings.image_right.width >= 1500 -%}{{ section.settings.image_right | img_url: '1500x' }} 1500w,{%- endif -%}
          {{ section.settings.image_right | img_url: 'master' }} {{ section.settings.image_right.width }}w"
        src="{{ section.settings.image_right | img_url: '1500x' }}"
        sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
        alt="{{ section.settings.image_right.alt | escape }}"
        loading="lazy"
        width="{{ section.settings.image_right.width }}"
        height="{{ section.settings.image_right.height }}"
      >
    {%- else -%}
      {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
    {%- endif -%}
    {% assign opacity = section.settings.background_opacity | divided_by: 100.00 %}
    <div class="hero2__content-container" style="background-color:{{ section.settings.background | color_modify: 'alpha', opacity }};">
      <div class="hero2__info align-{{ section.settings.right_container_align }} justify-{{ section.settings.right_container_justify }}">
        {% if section.settings.title_right != blank %}
          <div class="hero2__title">
            {{ section.settings.title_right }}
          </div>
        {% endif %}
        {% if section.settings.paragraph_right != blank %}
          <div class="hero2__paragraph">
            {{ section.settings.paragraph_right }}
          </div>
      {% endif %}
       
        {%- if section.settings.button_label_right != blank -%}
          <a 
            {% if section.settings.button_link_right == blank %} role="link" aria-disabled="true"
            {% else %} href="{{ section.settings.button_link_right }}"{% endif %} 
            class="hero2__button"
          >
            {{ section.settings.button_label_right | escape }}
          </a>
        {%- endif -%} 
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Hero Two",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "type": "image_picker",
      "id": "image_left",
      "label": "Image Left"
    },
    {
      "type": "image_picker",
      "id": "image_right",
      "label": "Image Right"
    },
    {
      "type": "text",
      "id": "title_left",
      "default": "Column",
      "label": "t:sections.multicolumn.blocks.column.settings.title.label"
    },
    {
      "type": "text",
      "id": "paragraph_left",
      "default": "Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.",
      "label": "t:sections.multicolumn.blocks.column.settings.text.label"
    },
    {
      "type": "text",
      "id": "title_right",
      "default": "Column",
      "label": "t:sections.multicolumn.blocks.column.settings.title.label"
    },
    {
      "type": "text",
      "id": "paragraph_right",
      "default": "Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.",
      "label": "t:sections.multicolumn.blocks.column.settings.text.label"
    },
    {
      "type": "select",
      "id": "hero_height",
      "label": "Hero Height",
      "options": [
        {
          "value": "50",
          "label": "50%"
        },
        {
          "value": "75",
          "label": "75%"
        },
        {
          "value": "100",
          "label": "100%"
        }
      ],
      "default": "100"
    },
    {
      "type": "select",
      "id": "left_container_align",
      "label": "Left Continer Align",
      "options": [
        {
          "value": "start",
          "label": "Start"
        },
        {
          "value": "end",
          "label": "End"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "right_container_align",
      "label": "Right Continer Align",
      "options": [
        {
          "value": "start",
          "label": "Start"
        },
        {
          "value": "end",
          "label": "End"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "left_container_justify",
      "label": "Left Container Justify",
      "options": [
        {
          "value": "start",
          "label": "Start"
        },
        {
          "value": "end",
          "label": "End"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ],
    "default": "center"
    },
    {
      "type": "select",
      "id": "right_container_justify",
      "label": "Right Container Justify",
      "options": [
        {
          "value": "start",
          "label": "Start"
        },
        {
          "value": "end",
          "label": "End"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ],
      "default": "center"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Image Background Color",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "background_opacity",
      "min": 0,
      "max": 70,
      "step": 1,
      "label": "Background Color Opacity",
      "default": 50
    },
    {
      "type": "text",
      "id": "button_label_left",
      "default": "Button label left",
      "label": "Button Label Left"
    },
    {
      "type": "url",
      "id": "button_link_left",
      "label": "Button Url Left"
    },
    {
      "type": "text",
      "id": "button_label_right",
      "default": "Button label Right",
      "label": "Button label Right"
    },
    {
      "type": "url",
      "id": "button_link_right",
      "label": "Button Link Right"
    }
  ],
  "presets": [
    {
      "name": "Hero Two"
    }
  ]
}
{% endschema %}
